# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Entornos virtuales
env/
venv/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log